/* colorscheme */
@define-color background rgba(34, 34, 34, 0.9); 
@define-color active rgba(68, 68, 68, 0.8);
@define-color warning rgba(243, 249, 157, 1);
@define-color alert rgba(255, 92, 87, 1);
@define-color white rgba(239, 240, 235, 1);
@define-color darkgrey rgba(73, 73, 73, 1);
@define-color grey rgba(146, 146, 146, 1);

@define-color red rgba(255, 92, 87, 1);
@define-color yellow rgba(243, 249, 157, 1);
@define-color blue rgba(10, 108, 245, 1);
@define-color purple rgba(159, 120, 255, 1);
@define-color green rgba(90, 247, 142, 1);
@define-color cyan rgba(154, 237, 254, 1);

* {
    border:        none;
    border-radius: 0;
    font-family:   "Font Awesome 5 Free Regular", "Font Awesome 5 Free Solid", "Font Awesome 5 Brands";
    font-size:     20px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      @white;
    background: @background;
}

#workspaces {
    padding-right: 30px;
}

#workspaces button {
    background: transparent;
    padding:    0 10px;
    color:   @white;
    min-width:  20px;
    border-top: 1px solid transparent;
    border-bottom: 2px solid transparent;
}

#workspaces button.visible {
    color:      @white;
    border-bottom: 2px solid @yellow;
}
#workspaces button.focused {
    border-top: 1px solid @active;
    border-bottom: 2px solid @yellow;
    background: @active;
}
#workspaces button.urgent {
    color:      @alert;
}

#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #bluetooth, #backlight, #custom-backup, #custom-pkg, #custom-storage, #custom-vpn, #custom-systemd, #temperature, #clock, #mpd, #idle_inhibitor, #custom-weather {
    margin:     0px 14px 0px 0px;
    padding:	0 4px;
}

#mode {
    border: 2px solid #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#tray {
    margin:     0px 14px 0px 0px;
}

#cpu, #temperature {
    border-bottom: 2px solid @red;
}
#cpu {
    margin: 0 0 0 0;
}

#clock {
    border-bottom: 2px solid @blue;
}

#network {
    border-bottom: 2px solid @purple;
}

#network.speed {
    border-bottom: 0px;
}

#battery {
    border-bottom: 2px solid @yellow;
}

#pulseaudio {
    /*border-bottom: 2px solid @green;*/
}

#backlight {
    /*border-bottom: 2px solid @alert;*/
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: @warning;
}

#custom-storage.critical {
    color: @alert;
} 

#temperature.critical {
    color: #eb4d4b;
}
