window {
	border: 2px solid grey;
	font-size: 32px;
	opacity: 0.8;
}

#text {
	margin-left: 16px;
} 

#input {
	margin: 8px;
	padding: 8px;
	border: 2px solid grey;
} 

/* mozliwe selektory: window, #input, #inner-box, #outer-box, #scroll, #text, #entry:selected, #text:selected, … */

